<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymelyf.com">
<head>
    <meta charset="UTF-8">
    <title>Spring Guru framework</title>
</head>
<body>
<h1>Author List</h1>
<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}">1902</td>
        <td th:text="${author.firstName}">Sarang</td>
        <td th:text="${author.lastName}">Panch</td>
    </tr>
</table>

</body>
</html>